* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

a {
  color: black;
}
a:hover {
  color: darkcyan;
}

nav {
  background-color: #d8ffff;
  position: fixed;
  z-index: 999;
  top: 32px;
  right: 32px;
  padding: 16px;
}

section {
  overflow: hidden;
}

article {
  height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

html main {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
html section {
  scroll-snap-align: start;
}
html .container {
  position: fixed;
  top: 40%;
  left: 20%;
  transform: translate(-40%, 20%);
  transform: rotate(15deg);
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  transform-origin: bottom right;
}
html .container div {
  background-color: darkcyan;
  border: 1px solid white;
  width: 150px;
  height: 150px;
  transition: all 0.3s;
  transform: translate(0, 0);
}
html .container div:nth-child(1) {
  transform: translate(-100vw, 0vh);
}
html .container div:nth-child(2) {
  transform: translate(0, -100vh);
}
html .container div:nth-child(3) {
  transform: translate(100vw, -100vh);
}
html .container div:nth-child(4) {
  transform: translate(-100vw, 0);
  transition-delay: 0.3s;
}
html .container div:nth-child(5) {
  transform: translate(0, -100vh);
}
html .container div:nth-child(6) {
  transform: translate(100vw, 0);
  transition-delay: 0.3s;
}
html .container div:nth-child(7) {
  transform: translate(-100vw, 100vh);
  transition-delay: 0.3s;
}
html .container div:nth-child(8) {
  transform: translate(0, 100vh);
  transition-delay: 0.6s;
}
html .chapter1 .container div:nth-child(4), html .chapter2 .container div:nth-child(4), html .chapter3 .container div:nth-child(4), html .chapter4 .container div:nth-child(4), html .chapter5 .container div:nth-child(4), html .chapter6 .container div:nth-child(4), html .chapter7 .container div:nth-child(4), html .chapter8 .container div:nth-child(4) {
  transform: translate(0, 0);
}
html .chapter2 .container div:nth-child(7), html .chapter3 .container div:nth-child(7), html .chapter4 .container div:nth-child(7), html .chapter5 .container div:nth-child(7), html .chapter6 .container div:nth-child(7), html .chapter7 .container div:nth-child(7), html .chapter8 .container div:nth-child(7) {
  transform: translate(0, 0);
}
html .chapter3 .container div:nth-child(5), html .chapter4 .container div:nth-child(5), html .chapter5 .container div:nth-child(5), html .chapter6 .container div:nth-child(5), html .chapter7 .container div:nth-child(5), html .chapter8 .container div:nth-child(5) {
  transform: translate(0, 0);
}
html .chapter3 .container div, html .chapter4 .container div, html .chapter5 .container div, html .chapter6 .container div, html .chapter7 .container div, html .chapter8 .container div {
  opacity: 1;
}
html .chapter4 .container div:nth-child(3), html .chapter5 .container div:nth-child(3), html .chapter6 .container div:nth-child(3), html .chapter7 .container div:nth-child(3), html .chapter8 .container div:nth-child(3) {
  transform: translate(0, 0);
}
html .chapter4 .container div, html .chapter5 .container div, html .chapter6 .container div, html .chapter7 .container div, html .chapter8 .container div {
  opacity: 1;
}
html .chapter5 .container div:nth-child(8), html .chapter6 .container div:nth-child(8), html .chapter7 .container div:nth-child(8), html .chapter8 .container div:nth-child(8) {
  transform: translate(0, 0);
}
html .chapter5 .container div, html .chapter6 .container div, html .chapter7 .container div, html .chapter8 .container div {
  opacity: 1;
}
html .chapter6 .container div:nth-child(6), html .chapter7 .container div:nth-child(6), html .chapter8 .container div:nth-child(6) {
  transform: translate(0, 0);
}
html .chapter6 .container div, html .chapter7 .container div, html .chapter8 .container div {
  opacity: 1;
}
html .chapter7 .container div:nth-child(1), html .chapter8 .container div:nth-child(1) {
  transform: translate(0, 0);
}
html .chapter7 .container div, html .chapter8 .container div {
  opacity: 1;
}
html .chapter8 .container div:nth-child(2) {
  transform: translate(0, 0);
}
html .chapter8 .container div {
  opacity: 1;
}